.link {
  border-bottom: 1px #000 solid;
  text-decoration: none;
}

.link__active {
  border-bottom: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  height: 293px;
  padding-right: 50px;
  padding-left: 50px;
}

.header__menu {
  font-weight: 400;
  font-size: 18px;
}
.header__links-list {
  display: flex;
  gap: 29px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_active {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  border-bottom: 0;
}

.header__logo-image {
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.address-header {
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg) no-repeat center / cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  opacity: 60%;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1000;
  height: 385;
  letter-spacing: 90px;
}

.aligned-text {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  margin-right: -30px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  max-width: 637px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 90%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 255px;
  height: 50px;
  border: 1px solid #fff;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  width: 1052px;
  margin: 180px auto 0;
}
.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  z-index: 2;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  padding: 48px 40px;
  background: cover no-repeat center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-weight: 400;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  width: 1052px;
  max-height: 595px;
  margin: 118px auto 180px;
}

.about__column {
  display: flex;
  flex-direction: column;
  margin-top: 133px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 100%;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-top: 105px;
}

.about__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link_active {
  border-bottom: 0;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  border-bottom: 0;
}

.footer__social-icon {
  width: 48px;
}